<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Administration {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/ionicons.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/main-admin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/skins/_all-skins.css') }}"/>
    {% endblock %}
</head>

<body class="skin-blue sidebar-mini">
<div class="wrapper">

    {% include ':admin/back:header.html.twig' %}

    <!-- =============================================== -->

    {% include ':admin/back:leftSidebar.html.twig' %}

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% use ':admin/back:content.html.twig' %}
        {% block content %}
            {{ parent() }}
        {% endblock %}
        {% include ':admin/back/flashMessage:flash.html.twig' %}
    </div>
    <!-- /.content-wrapper -->
    {% include ':admin/back:footer.html.twig' %}
    {% include ':admin/back:controlSidebar.html.twig' %}
</div>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/js/fastclick.js') }}"></script>
    <script src="{{ asset('assets/js/app.min.js') }}"></script>
{% endblock %}
</body>
</html>