{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block title %}{% endblock %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% block body %}{% endblock %}
    </section>
    <!-- /.content -->
{% endblock %}