<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle"
                     alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building-o"></i>
                    <span>{{ 'admin.housingStock.module'|trans({}, 'admin') }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('housingStock_project_list') }}"><i
                                    class="fa fa-bars"></i> {{ 'admin.housingStock.project.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('housingStock_unitType_list') }}"><i
                                    class="fa fa-building"></i> {{ 'admin.housingStock.unitType.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('housingStock_propertyType_list') }}"><i
                                    class="fa fa-building"></i> {{ 'admin.housingStock.propertyType.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('housingStock_projectStatus_list') }}"><i
                                    class="fa fa-tasks"></i> {{ 'admin.housingStock.projectStatus.module'|trans({}, 'admin') }}
                        </a></li>

                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>{{ 'admin.realEstate.module'|trans({}, 'admin') }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('realEstate_apartment_list') }}"><i
                                    class="fa fa-building"></i> {{ 'admin.realEstate.apartment.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('realEstate_house_list') }}"><i
                                    class="fa fa-home"></i> {{ 'admin.realEstate.house.module'|trans({}, 'admin') }}</a>
                    </li>
                    <li><a href="{{ path('realEstate_flooring_list') }}"><i
                                    class="fa fa-square"></i> {{ 'admin.realEstate.flooring.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('realEstate_directionFacing_list') }}"><i
                                    class="fa fa-arrows"></i> {{ 'admin.realEstate.directionFacing.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('realEstate_kindPhoto_list') }}"><i
                                    class="fa fa-picture-o"></i> {{ 'admin.realEstate.kindPhoto.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('realEstate_ownershipType_list') }}"><i
                                    class="fa fa-key"></i> {{ 'admin.realEstate.ownershipType.module'|trans({}, 'admin') }}
                        </a></li>
                    <li>
                        <a href="#"><i
                                    class="fa fa-cubes"></i> {{ 'admin.realEstate.amenity.module'|trans({}, 'admin') }}
                            <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('realEstate_amenityCategory_list') }}"><i
                                            class="fa fa-cubes"></i> {{ 'admin.realEstate.amenityCategory.moduleMenu'|trans({}, 'admin') }}
                                </a></li>
                            <li><a href="{{ path('realEstate_amenity_list') }}"><i
                                            class="fa fa-cubes"></i> {{ 'admin.realEstate.amenity.module'|trans({}, 'admin') }}
                                </a></li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-location-arrow"></i>
                    <span>{{ 'admin.localization.module'|trans({}, 'admin') }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('localization_state_list') }}"><i
                                    class="fa fa-map-marker"></i> {{ 'admin.localization.state.module'|trans({}, 'admin') }}
                        </a></li>
                    <li><a href="{{ path('localization_city_list') }}"><i
                                    class="fa fa-road"></i> {{ 'admin.localization.city.module'|trans({}, 'admin') }}
                        </a></li>
                </ul>
            </li>
            <li class="header">{{ 'admin.user.module'|trans({}, 'admin')|upper }}</li>
            <li><a href="{{ path('user_role_list') }}"><i class="fa fa-lock text-red"></i>
                    <span>{{ 'admin.user.role.module'|trans({}, 'admin') }}</span></a></li>
            <li><a href="{{ path('user_language_list') }}"><i class="fa fa-flag text-red"></i>
                    <span>{{ 'admin.user.language.module'|trans({}, 'admin') }}</span></a></li>
            <li><a href="{{ path('user_user_list') }}"><i class="fa fa-users text-green"></i>
                    <span>{{ 'admin.user.user.module'|trans({}, 'admin') }}</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>