<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Une erreur est survenue : {{ status_text }}</title>
</head>
<body>
<h1>Oups! Une erreur est survenue</h1>

<h2>Le serveur a retournérr une erreur "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>