{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.user.role.detail'|trans({}, 'admin') }} {{ role.name }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ role.name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.user.role.name', role.name) }}
                {{ info.input('admin.user.role.label', role.label) }}
                {% if role.parent.name is defined %}
                    {{ info.input('admin.user.role.parent', role.parent.name) }}
                {% else %}
                    {{ info.input('admin.user.role.parent', 'admin.user.role.noParent'|trans({}, 'admin')) }}
                {% endif %}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('user_role_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('user_role_update', {'id': role.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}