{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}

{% block title %}{{ 'admin.localization.city.create'|trans({}, 'admin') }}{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'admin.localization.city.create'|trans({}, 'admin') }}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {'class': 'form-horizontal'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.pinCode) }}

            {{ form_row(form.state) }}


            {{ form_widget(form.submit, { 'label': 'admin.action.create'|trans({}, 'admin') }) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('localization_city_list'), 'admin.action.back') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':admin/back/autoComplete:autoComplete.html.twig' %}
{% endblock %}