{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.localization.city.detail'|trans({}, 'admin') }} {{ city.name }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ city.name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.localization.city.name', city.name) }}
                {{ info.input('admin.localization.city.pinCode', city.pinCode) }}
                {{ info.input('admin.localization.state.name', city.state.name) }}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('localization_city_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('localization_city_update', {'id': city.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}