<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <i class="icon fa fa-info"></i>
                <strong>{{ flashMessage.title }}:</strong> {{ flashMessage.message }}.
            </div>
        {% endfor %}
    </div>
    <div class="col-md-1"></div>
</div>