{% set menu = 'normal' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% for message in app.session.flashbag.get('login') %}
    <div class="flash">
        {{ message }}
    </div>
{% endfor %}

{% block menu %}
    menu
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
