{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.localization.state.list'|trans({}, 'admin') }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                {% if total > 1 %}
                    {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
                {% endif %}
            </h3>

            <div class="box-tools pull-right">
                {{ searchform.create('localization_state_list_search', 'admin.localization.state.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input(['admin.localization.state.name', 'admin.localization.state.code']) }}
                <tbody>
                {% for state in states %}
                    <tr>
                        <td>{{ state.id }}</td>
                        <td>{{ state.name }}</td>
                        <td>{{ state.code }}</td>
                        {{ thead.options(path('localization_state_show', {'id': state.id }), path('localization_state_update', {'id': state.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('localization_state_list'), 'admin.navigation.back') }}
            {% endif %}
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'localization_state_list', key)) }}
            {% endif %}
            {{ grid.createsm4('') }}
            {{ button.create('info', 'plus-circle', path('localization_state_create'), 'admin.localization.state.create') }}
        </div>
    </div>
{% endblock %}