{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.localization.state.detail'|trans({}, 'admin') }} {{ state.state }}{% endblock %}

{% block body %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ state.state }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.localization.state.name', state.name) }}
                {{ info.input('admin.localization.state.code', state.code) }}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('localization_state_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('localization_state_update', {'id': state.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}