{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Administration {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/main-admin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/square-blue.css') }}"/>
    {% endblock %}
</head>

<body class="{{ pageType }}-page">

<div class="{{ pageType }}-box">
    <div class="{{ pageType }}-logo">
        <a href="../../index2.html"><b>KEIRUS</b>Admin</a>
    </div>
    <div class="{{ pageType }}-box-body">
        <p class="{{ pageType }}-box-msg">{{ formDescription }}</p>

        {% block form %} {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/icheck.min.js') }}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
            });
        });
    </script>
{% endblock %}
</body>
</html>