{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.user.user.list'|trans({}, 'admin') }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('user_user_list_search', 'admin.user.user.search', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input(['admin.user.user.firstName', 'admin.user.user.lastName',
                'admin.user.user.userName', 'admin.user.role.module']) }}
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% set class = 'warning' %}
                                {% if role == 'ROLE_ADMIN' or role == 'ROLE_SUPERADMIN' %}
                                    {% set class = 'danger' %}
                                {% elseif role == 'ROLE_VISITOR' or role =='ROLE_BUILDER' or role =='ROLE_INDIVIDUAL'
                                or role =='ROLE_BROKER' %}
                                    {% set class = 'primary' %}
                                {% elseif role == 'ROLE_MODERATOR' %}
                                    {% set class = 'warning' %}
                                {% endif %}
                                <span class="label label-{{ class }}">{{ role }}</span>
                            {% endfor %}
                        </td>
                        {{ thead.option(path('user_user_show', {'id': user.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'user_user_list', key)) }}
            {% endif %}
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('user_user_list'), 'admin.navigation.back') }}
            {% endif %}

            {{ grid.createsm4('') }}
            {{ grid.createsm4('') }}
        </div>
    </div>
{% endblock %}