{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.user.user.detail'|trans({}, 'admin') }} {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ user.firstName }} {{ user.lastName }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.user.user.firstName', user.firstName) }}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('user_user_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('danger', 'trash-o', path('user_user_delete', {'id': user.id }), 'admin.action.delete') }}
        </div>
    </div>
{% endblock %}