{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}
{% block title %}{{ 'admin.realEstate.apartment.create'|trans({}, 'admin') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap3-wysihtml5.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/override.css') }}"/>
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'admin.realEstate.apartment.create'|trans({}, 'admin') }}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {'class': 'form-horizontal'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.address) }}
            {{ form_row(form.city) }}
            {{ form_row(form.sqftArea) }}
            {{ form_row(form.price) }}
            {{ form_row(form.registrationCharges) }}
            {{ form_row(form.noBathrooms) }}
            {{ form_row(form.noRooms) }}
            {{ form_row(form.directionFacing) }}
            {{ form_row(form.flooring) }}
            {{ form_row(form.ownershipType) }}
            {{ form_row(form.brokerageTerms) }}
            {{ form_row(form.possessionFrom) }}
            {{ form_row(form.yearConstruction) }}
            {{ form_row(form.amenities) }}
            {{ form_row(form.propertyPhotos) }}
            {{ form_row(form.totalFloors) }}
            {{ form_row(form.propertyOn) }}

            {{ form_widget(form.submit, { 'label': 'admin.action.create'|trans({}, 'admin') }) }}
            {{ form_rest(form) }}
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('realEstate_apartment_list'), 'admin.action.back') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':admin/back/form:textarea.html.twig' %}
    {% include ':admin/back/autoComplete:autoComplete.html.twig' %}
    <script src="{{ asset('assets/js/apartment.min.js') }}"></script>
{% endblock %}