{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.realEstate.apartment.detail'|trans({}, 'admin') }} {{ apartment.title }}{% endblock %}

{% block body %}
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> {{ 'admin.realEstate.property.seller.info'|trans({}, 'admin') }}:</h4>
            {% if apartment.broker is not empty %}
                {{ apartment.broker.lastName }} - {{ apartment.broker.agreementNo }} - {{ apartment.broker.email }}
            {% else %}
                {{ 'admin.realEstate.property.seller.individual'|trans({}, 'admin') }}: {{ apartment.individual.lastName }} - {{ apartment.individual.email }}
            {% endif %}

        </div>
    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ apartment.title }}
                {% if apartment.online == false %}
                    <span class="label label-danger">{{ 'admin.status.offline'|trans({}, 'admin') }}</span>
                {% else %}
                    <span class="label label-success">{{ 'admin.status.online'|trans({}, 'admin') }}</span>
                {% endif %}
            </h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {{ info.input('admin.realEstate.property.title', apartment.title) }}
                    {{ info.input('admin.realEstate.property.description', apartment.description|truncate(80, true, '...')) }}
                    {{ info.input('admin.realEstate.property.address', apartment.address) }}
                    {{ info.input('admin.realEstate.property.city', apartment.city.name) }}
                    {{ info.input('admin.realEstate.property.sqftArea', apartment.sqftArea) }}
                    {{ info.input('admin.realEstate.property.price', apartment.price) }}
                    {{ info.input('admin.realEstate.property.registrationCharges', apartment.registrationCharges) }}
                    {{ info.input('admin.realEstate.property.noBathrooms', apartment.noBathrooms) }}
                    {{ info.input('admin.realEstate.property.noRooms', apartment.noRooms) }}
                    {{ info.input('admin.realEstate.property.directionFacing', apartment.directionFacing.name) }}
                    {{ info.input('admin.realEstate.property.flooring', apartment.flooring.name) }}
                    {{ info.input('admin.realEstate.property.ownershipType', apartment.ownershipType) }}
                    {{ info.input('admin.realEstate.property.possessionFrom', apartment.possessionFrom|date("d/m/Y")) }}
                    {{ info.input('admin.realEstate.property.yearConstruction', apartment.yearConstruction|date("Y")) }}
                    {{ info.input('admin.realEstate.apartment.totalFloors', apartment.totalFloors) }}
                    {{ info.input('admin.realEstate.apartment.propertyOn', apartment.propertyOn) }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('realEstate_apartment_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('realEstate_apartment_update', {'id': apartment.id }), 'admin.action.update') }}
        </div>
    </div>

    {% if apartment.propertyPhotos is not empty %}
        <section class="content-header">
            <h1>
                {{ 'admin.realEstate.property.propertyPhotos'|trans({}, 'admin') }}
            </h1>
        </section>

        <section class="content">
            <div class="row">
                {% for picture in apartment.propertyPhotos %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ picture.kindPropertyPhoto.name }}</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="box-body text-center">
                                <img src="{{ picture.getWebPath|imagine_filter('thumb_100x100') }}"/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="content-header">
            <h1>
                {{ 'admin.photo.noPhotos'|trans({}, 'admin') }}
            </h1>
        </section>
    {% endif %}



    {% if apartment.amenities is not empty %}
        <section class="content-header">
            <h1>
                {{ 'admin.realEstate.property.amenities'|trans({}, 'admin') }}
            </h1>
        </section>

        <section class="content">
            <div class="row">
                {% for amenity in apartment.amenities %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-fw fa-{{ amenity.icon }}"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ amenity.name }}</span>
                                <span>{{ amenity.category.name }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="content-header">
            <h1>
                {{ 'admin.realEstate.amenity.noAmenities'|trans({}, 'admin') }}
            </h1>
        </section>
    {% endif %}
{% endblock %}