{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}
{% block title %}{{ 'admin.realEstate.ownershipType.update'|trans({}, 'admin') }} {{ ownershipType.type }}{% endblock %}

{% block body %}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">{{ ownershipType.type }}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {'class': 'form-horizontal'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.type) }}

            {{ form_widget(form.submit, { 'label': 'admin.action.update'|trans({}, 'admin') }) }}
            {{ form_rest(form) }}
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('realEstate_ownershipType_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('danger', 'trash-o', path('realEstate_ownershipType_delete', {'id': ownershipType.id }), 'admin.action.delete') }}
        </div>
    </div>

{% endblock %}