{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.realEstate.kindPhoto.list'|trans({}, 'admin') }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('realEstate_kindPhoto_list_search', 'admin.realEstate.kindPhoto.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input(['admin.realEstate.kindPhoto.name']) }}
                <tbody>
                {% for kindPhoto in kindsPhoto %}
                    <tr>
                        <td>{{ kindPhoto.id }}</td>
                        <td>{{ kindPhoto.name }}</td>
                        {{ thead.options(path('realEstate_kindPhoto_show', {'id': kindPhoto.id }), path('realEstate_kindPhoto_update', {'id': kindPhoto.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'realEstate_kindPhoto_list', key)) }}
            {% endif %}
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('realEstate_kindPhoto_list'), 'admin.navigation.back') }}
            {% endif %}

            {{ grid.createsm4('') }}
            {{ button.create('info', 'plus-circle', path('realEstate_kindPhoto_create'), 'admin.realEstate.kindPhoto.create') }}
        </div>
    </div>
{% endblock %}