{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.realEstate.house.list'|trans({}, 'admin') }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('realEstate_house_list_search', 'admin.realEstate.house.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input(['admin.realEstate.property.title',
                'admin.realEstate.property.price',
                'admin.realEstate.property.sqftArea',
                'admin.realEstate.property.yearConstruction',
                'admin.realEstate.property.online',
                ]) }}
                <tbody>
                {% for house in houses %}
                    <tr>
                        <td>{{ house.id }}</td>
                        <td>{{ house.title }}</td>
                        <td>{{ house.price }}</td>
                        <td>{{ house.sqftArea }}</td>
                        <td>{{ house.yearConstruction|date("Y") }}</td>
                        <td>
                            {% if house.online == false %}
                                <span class="label label-danger">{{ 'admin.status.offline'|trans({}, 'admin') }}</span>
                            {% else %}
                                <span class="label label-success">{{ 'admin.status.online'|trans({}, 'admin') }}</span>
                            {% endif %}
                        </td>
                        {{ thead.options(path('realEstate_house_show', {'id': house.id }), path('realEstate_house_update', {'id': house.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'realEstate_house_list', key)) }}
            {% endif %}
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('realEstate_house_list'), 'admin.navigation.back') }}
            {% endif %}

            {{ grid.createsm4('') }}
            {{ button.create('info', 'plus-circle', path('realEstate_house_create'), 'admin.realEstate.house.create') }}
        </div>
    </div>
{% endblock %}