{% extends "::admin/back/base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}
{% block title %}{{ 'admin.user.register.as.broker'|trans({}, 'admin') }}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/override.css') }}"/>
    {% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'admin.user.register.broker'|trans({}, 'admin') }}</h3>
        </div>
        <div class="box-body">
            <form action="{{ path('broker_registration') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                {{ form_widget(form) }}
                <div class="col-sm-12">
                    <input type="submit" value="{{ 'admin.user.register.validate'|trans({}, 'admin') }}"
                           class="btn btn-lg btn-block bg-olive margin"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include ':admin/back/form:textarea.html.twig' %}
    {% include ':admin/back/autoComplete:autoComplete.html.twig' %}
{% endblock %}