{%- block form_row -%}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{%- endblock form_row -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <div class="col-lg-8">
        <input type="{{ type }}"
               class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple -%}



{%- block form_label -%}
{% if label is not sameas(false) -%}
{% if not compound -%}
    {% set label_attr = label_attr|merge({'for': id}) %}
{%- endif %}
{% if id starts with 'fos_user_registration_form_optInMailing_'
or id starts with 'fos_user_registration_form_nri_'
or id starts with 'projectproperty_priceAvailable_'
or id starts with 'projectproperty_priceAvailable_'
or id starts with 'projectproperty_available_'
or id starts with 'housingstock_projectproperty_form_priceAvailable_'
or id starts with 'housingstock_projectproperty_form_available_'
%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% set label_attr = label_attr|merge({'style': ('padding-right: 20px; padding-left: 5px;')|trim}) %}
{% else %}
    {% if required -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('control-label col-sm-3') ~ ' required')|trim}) %}
    {% else %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('control-label col-sm-3'))|trim}) %}
    {%- endif %}
{%- endif %}

{% if label is empty -%}

    {%- if label_format is defined -%}

        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}


<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
>{{ label|trans({}, translation_domain) }}</label>



{%- endif -%}
{%- endblock form_label -%}


{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}

    {%- if class is defined -%}
        {%- if class is empty -%}
            {% set class = name|humanize %}
        {%- endif -%}
    {%- else -%}
        {% set class = ' ' %}
    {%- endif -%}

    <div class="form-group">
        <label class="col-md-3 control-label"></label>

        <div class="col-md-9">
            <button class="btn bg-olive btn-flat margin {{ class }}"
                    type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
        </div>
    </div>
{%- endblock button_widget -%}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}

{% block hidden_widget %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock hidden_widget %}


{% block autocomplete_entity_widget %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="col-lg-8">
            <input type="text" data-id="{{ form.vars.id }}" data-url="{{ path(form.vars.update_route) }}"
                   class="form-control autocomplete ui-autocomplete-input"
                   value="{{ form.vars.data.state|default('') }}">
        </div>
    </div>
{% endblock %}


{% block autocomplete_role_widget %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="col-lg-8">
            <input type="text" data-id="{{ form.vars.id }}" data-url="{{ path(form.vars.update_route) }}"
                   class="form-control autocomplete ui-autocomplete-input"
                   value="{{ form.vars.data.name|default('') }}">
        </div>
    </div>
{% endblock %}


{% block autocomplete_city_widget %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="col-lg-8">
            <input type="text" data-id="{{ form.vars.id }}" data-url="{{ path(form.vars.update_route) }}"
                   class="form-control autocomplete ui-autocomplete-input"
                   value="{{ form.vars.data.name|default('') }}">
        </div>
    </div>
{% endblock %}


{% block autocomplete_category_widget %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        <div class="col-lg-8">
            <input type="text" data-id="{{ form.vars.id }}" data-url="{{ path(form.vars.update_route) }}"
                   class="form-control autocomplete ui-autocomplete-input"
                   value="{{ form.vars.data.name|default('') }}">
        </div>
    </div>
{% endblock %}



{% block textarea_widget %}
    {% spaceless %}
        <div class="col-lg-9">
            <textarea {{ block('widget_attributes') }} class="col-lg-8 form-control">{{ value }}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}


{% block choice_widget_collapsed %}
    {% spaceless %}
        <div class="col-lg-8">
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}
                    class="form-control">
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        </div>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('field_widget') }}
        {% else %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}

        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
    {% spaceless %}
        ss
        {% if widget == 'single_text' %}
            {{ block('field_widget') }}
        {% else %}
            {{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}


{% block file_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% if image_url is defined %}
            {% if image_url is not null %}
                <img src="{{ image_url|imagine_filter('thumb_100x100') }}"/>
            {% endif %}
        {% endif %}

    {% endspaceless %}
{% endblock %}
