{% extends ':admin/back/form:fields.html.twig' %}
{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
    {% set form_method = method %}
{%- else -%}
    {% set form_method = "POST" %}
{%- endif -%}
    <form class="form-horizontal" name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
    <input type="hidden" name="_method" value="{{ method }}"/>
{%- endif -%}
{%- endblock form_start -%}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="callout alert alert-danger">
                <h4>{{ 'admin.alert.error'|trans({}, 'admin') }}:</h4>
                <ul class="list-unstyled">
                    {% for error in errors %}
                        <li><span class="fa fa-minus-circle"></span> {{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

