<script src="{{ asset('assets/js/bootstrap3-wysihtml5.all.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
</script>