{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.housingStock.projectStatus.detail'|trans({}, 'admin') }} {{ projectStatus.name }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ projectStatus.name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.housingStock.projectStatus.name', projectStatus.name) }}
                {{ info.input('admin.housingStock.projectStatus.ranking', projectStatus.ranking) }}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('housingStock_projectStatus_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('housingStock_projectStatus_update', {'id': projectStatus.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}