{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.housingStock.project.list'|trans({}, 'admin') }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('housingStock_project_list_search', 'admin.housingStock.project.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input([
                'admin.housingStock.project.name',
                'admin.housingStock.project.city',
                'admin.housingStock.project.projectStatus',
                'admin.housingStock.project.achievement',
                'admin.housingStock.project.management']) }}
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.city.name }}</td>

                        <td>{{ project.projectStatus.name }}</td>
                        <td>
                            {% if project.online == false %}
                                <span class="label label-danger">{{ 'admin.status.offline'|trans({}, 'admin') }}</span>
                            {% else %}
                                <span class="label label-success">{{ 'admin.status.online'|trans({}, 'admin') }}</span>
                            {% endif %}
                            <span class="badge bg-yellow">55%</span>
                        </td>
                        <td class="col-md-1 text-center">
                            <a class="btn btn-block bg-navy btn-xs"
                               href="{{ path('housingStock_projectProperty_list', {'project': project.id }) }}">
                                <i class="fa fa-gear"></i> {{ 'admin.housingStock.project.manage'|trans({}, 'admin') }}
                            </a>
                        </td>
                        {{ thead.options(path('housingStock_project_show', {'id': project.id }), path('housingStock_project_update', {'id': project.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'housingStock_project_list', key)) }}
            {% endif %}
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('housingStock_project_list'), 'admin.navigation.back') }}
            {% endif %}

            {{ grid.createsm4('') }}
            {{ button.create('info', 'plus-circle', path('housingStock_project_create'), 'admin.housingStock.project.create') }}
        </div>
    </div>
{% endblock %}