{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.housingStock.project.detail'|trans({}, 'admin') }} {{ project.name }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ project.name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {{ info.input('admin.housingStock.project.name', project.name) }}
                    {{ info.input('admin.housingStock.project.description', project.description|truncate(80, true, '...')) }}
                    {{ info.input('admin.housingStock.project.additionalDetails', project.additionalDetails|raw) }}
                    {{ info.input('admin.housingStock.project.city', project.city.name) }}
                    {{ info.input('admin.housingStock.project.projectStatus', project.projectStatus.name) }}
                    {{ info.input('admin.housingStock.project.possessionFrom', project.possessionFrom|date("d/m/Y")) }}
                    {{ info.input('admin.user.builder.name', project.builder.name) }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('housingStock_project_list'), 'admin.action.back') }}
            {{ button.create(' bg-navy', 'gear', path('housingStock_projectProperty_list', {'project': project.id }), 'admin.housingStock.project.manage') }}
            {{ button.create('warning', 'pencil', path('housingStock_project_update', {'id': project.id }), 'admin.action.update') }}
        </div>
    </div>

    <section class="content-header">
        <h1>
            {{ 'admin.housingStock.project.projectFiles'|trans({}, 'admin') }}
        </h1>
    </section>

    <section class="content">
        <div class="row">
            {% for picture in project.projectFiles %}
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ picture.title }}</h3>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body text-center">
                            <img src="{{ picture.getWebPath|imagine_filter('thumb_100x100') }}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}