{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}
{% block title %}{{ 'admin.housingStock.project.update'|trans({}, 'admin') }} {{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap3-wysihtml5.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/override.css') }}"/>
{% endblock %}

{% block body %}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">{{ project.name }}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {'class': 'form-horizontal'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.additionalDetails) }}
            {{ form_row(form.address) }}
            {{ form_row(form.city) }}
            {{ form_row(form.projectStatus) }}
            {{ form_row(form.possessionFrom) }}
            {{ form_row(form.projectFiles) }}

            {{ form_widget(form.submit, { 'label': 'admin.housingStock.project.update'|trans({}, 'admin'), 'class' : 'btn-block' }) }}
            {{ form_rest(form) }}
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('housingStock_project_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('danger', 'trash-o', path('housingStock_project_delete', {'id': project.id }), 'admin.action.delete') }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include ':admin/back/form:textarea.html.twig' %}
    {% include ':admin/back/autoComplete:autoComplete.html.twig' %}
    <script src="{{ asset('assets/js/project.min.js') }}"></script>
{% endblock %}