{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.realEstate.amenity.detail'|trans({}, 'admin') }} {{ amenity.name }}{% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ amenity.name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive"><table class="table"><tbody>
                {{ info.input('admin.realEstate.amenity.name', amenity.name) }}
                {{ info.input('admin.realEstate.amenity.icon', amenity.icon) }}
            </tbody></table></div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('realEstate_amenity_list'), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('realEstate_amenity_update', {'id': amenity.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}