{% macro create(type, icon, link, value) %}
    <div class="col-xs-12 col-sm-4">
        <a class="btn btn-{{ type }} btn-block btn-flat btn-sm" href="{{ link }}">
            <span class="fa fa-{{ icon }}"></span> {{ value|trans({}, 'admin') }}
        </a>
    </div>
{% endmacro %}

{% macro createNoGrid(type, icon, link, value) %}
    <a class="btn btn-{{ type }} btn-block btn-flat btn-sm" href="{{ link }}">
        <span class="fa fa-{{ icon }}"></span> {{ value|trans({}, 'admin') }}
    </a>
{% endmacro %}