{% macro create(paginator, cur, total, url, key) %}


    <ul class="pagination pagination-sm no-margin pull-left">
        <li>
            <a href="{{ path(url, {'page': 1, 'key' : key}) }}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        {% for i in paginator %}
            {% if i<=total %}
                {% if i == cur %}
                    <li class="active">
                        <a href="#">{{ i }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(url, {'page': i, 'key' : key}) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <li>
            <a href="{{ path(url, {'page': total, 'key' : key}) }}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
{% endmacro %}