{% macro create(formpath, placeholder, key, cur) %}
    <form action="{{ path(formpath) }}" method="post" id="searchform">
        <div class="input-group">
            <input type="text" name="key" class="form-control input-sm pull-right" style="width: 150px;"
                   placeholder="{{ placeholder|trans({}, 'admin') }}" value="{{ key }}">

            <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <input type="hidden" name="cur" id="cur" value="{{ cur }}"/>
    </form>
{% endmacro %}