{% macro input(fields) %}
    <thead>
    <th class="col-md-1">{{ 'admin.field.id'|trans({}, 'admin') }}</th>
    {% for field in fields %}
        <th>{{ field|trans({}, 'admin') }}</th>
    {% endfor %}
    <th class="col-md-2 text-center" colspan="2">{{ 'admin.actions'|trans({}, 'admin') }}</th>
    </thead>
{% endmacro %}

{% macro options(show, update) %}
    <td class="col-md-1 text-center">
        <a class="btn btn-success btn-xs" href="{{ show }}">
            <i class="fa fa-search-plus"></i> {{ 'admin.action.show'|trans({}, 'admin') }}
        </a>
    </td>
    <td class="col-md-1 text-center">
        <a class="btn btn-warning btn-xs" href="{{ update }}">
            <i class="fa fa-pencil"></i> {{ 'admin.action.update'|trans({}, 'admin') }}
        </a>
    </td>
{% endmacro %}

{% macro option(show) %}
    <td class="col-md-1 text-center">
        <a class="btn btn-success btn-xs" href="{{ show }}">
            <i class="fa fa-search-plus"></i> {{ 'admin.action.show'|trans({}, 'admin') }}
        </a>
    </td>
{% endmacro %}