{% set pageType = 'login' %}
{% set formDescription = 'Sign in to start your session' %}
{% extends ":fos:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% block form %}

        {% if error %}
            <div class="callout callout-danger">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group has-feedback">
                <input type="text" id="username" name="_username" class="form-control"
                       placeholder="{{ 'security.login.username'|trans }}" required="required"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" id="password" name="_password" required="required" class="form-control"
                       placeholder="{{ 'security.login.password'|trans }}"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me"
                                   value="on"> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat"
                           value="{{ 'security.login.submit'|trans }}">
                </div>
            </div>
        </form>



        <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.forgottenPassword'|trans }}</a><br/>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-flat btn-xs dropdown-toggle"
                    data-toggle="dropdown">{{ 'admin.user.register.asA'|trans({}, 'admin') }}</button>
            <button type="button" class="btn btn-default btn-flat btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{{ path('broker_registration') }}">{{ 'admin.user.register.broker'|trans({}, 'admin') }}</a>
                </li>
                <li>
                    <a href="{{ path('builder_registration') }}">{{ 'admin.user.register.builder'|trans({}, 'admin') }}</a>
                </li>
                <li>
                    <a href="{{ path('individual_registration') }}">{{ 'admin.user.register.individual'|trans({}, 'admin') }}</a>
                </li>
                <li>
                    <a href="{{ path('visitor_registration') }}">{{ 'admin.user.register.visitor'|trans({}, 'admin') }}</a>
                </li>

            </ul>
        </div>
    {% endblock form %}
{% endblock fos_user_content %}
