{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.user.language.list'|trans({}, 'admin') }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('user_language_list_search', 'admin.user.language.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input(['admin.user.language.label', 'admin.user.language.name']) }}
                <tbody>
                {% for language in languages %}
                    <tr>
                        <td>{{ language.id }}</td>
                        <td>{{ language.name }}</td>
                        <td>{{ language.label }}</td>
                        {{ thead.options(path('user_language_show', {'id': language.id }), path('user_language_update', {'id': language.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'user_language_list', key)) }}
            {% endif %}
            {% if key is not null %}
                {{ button.create('info', 'chevron-left', path('user_language_list'), 'admin.navigation.back') }}
            {% endif %}
            {{ grid.createsm4('') }}
            {{ button.create('info', 'plus-circle', path('user_language_create'), 'admin.user.language.create') }}
        </div>
    </div>
{% endblock %}