{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% form_theme form ':admin/back/form:structure.html.twig' %}
{% block title %}{{ 'admin.housingStock.projectProperty.create'|trans({}, 'admin') }}{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'admin.housingStock.projectProperty.create'|trans({}, 'admin') }}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form, {'class': 'form-horizontal'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.reference) }}
            {{ form_row(form.propertyType) }}
            {{ form_row(form.unitType) }}
            {{ form_row(form.sqftArea) }}
            {{ form_row(form.price) }}
            {{ form_row(form.priceAvailable) }}
            {{ form_row(form.available) }}
            {{ form_row(form.attachedFile) }}

            {{ form_widget(form.submit, { 'label': 'admin.action.create'|trans({}, 'admin') }) }}
            {{ form_rest(form) }}
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('housingStock_projectProperty_list', {'project': project.id}), 'admin.action.back') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/project-property.min.js') }}"></script>
{% endblock %}