{% extends '::admin/back/base.html.twig' %}
{% import '::admin/back/macros/thead.html.twig' as thead %}
{% import '::admin/back/macros/button.html.twig' as button %}
{% import ':admin/back/macros:grid.html.twig' as grid %}
{% import ':admin/back/macros:paginator.html.twig' as paginatorbuilder %}
{% import ':admin/back/macros:search.html.twig' as searchform %}
{% block title %}{{ 'admin.housingStock.projectProperty.list'|trans({}, 'admin') }} {{ project.name }}{% endblock %}
{% block subtitle %}
    {% if total > 1 %}
        {{ "admin.navigation.status"|trans({'%current%': cur, '%total%': total}, 'admin') }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Affichage</h3>

            <div class="box-tools pull-right">
                {{ searchform.create('housingStock_projectProperty_list_search', 'admin.housingStock.projectProperty.name', key, cur) }}
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                {{ thead.input([
                'admin.housingStock.projectProperty.reference',
                'admin.housingStock.projectProperty.propertyType',
                'admin.housingStock.projectProperty.unitType',
                'admin.housingStock.projectProperty.sqftArea',
                'admin.housingStock.projectProperty.price',
                'admin.housingStock.projectProperty.availability'
                ]) }}
                <tbody>
                {% for projectProperty in projectProperties %}
                    <tr>
                        <td>{{ projectProperty.id }}</td>
                        <td>{{ projectProperty.reference }}</td>
                        <td>{{ projectProperty.propertyType.type }}</td>
                        <td>{{ projectProperty.unitType.type }}</td>
                        <td>{{ projectProperty.sqftArea }}</td>
                        <td>{{ projectProperty.price|priceRupee }}</td>
                        <td>{% if projectProperty.available == 1 %}
                                <span class="label label-success">{{ 'admin.housingStock.projectProperty.available'|trans({}, 'admin') }}</span>
                            {% else %}
                                <span class="label label-warning">{{ 'admin.housingStock.projectProperty.notAvailable'|trans({}, 'admin') }}</span>
                            {% endif %}
                        </td>
                        {{ thead.options(path('housingStock_projectProperty_show', {'id': projectProperty.id }), path('housingStock_projectProperty_update', {'id': projectProperty.id })) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            {% if total > 1 %}
                {{ grid.createsm4(paginatorbuilder.create(paginator, cur, total, 'housingStock_projectProperty_list', key)) }}
            {% else %}
                {{ button.create('info', 'chevron-left', path('housingStock_project_show', {'id': project.id }), 'admin.navigation.back') }}
            {% endif %}

            {% if total < 1 %}
                {{ grid.createsm4() }}
            {% endif %}

            {{ button.create('info', 'plus-circle', path('housingStock_projectProperty_create', {'project': project.id }), 'admin.housingStock.projectProperty.create') }}
        </div>

    </div>
{% endblock %}