{% extends "::admin/back/base.html.twig" %}
{% import "::admin/back/macros/infoCard.html.twig" as info %}
{% import "::admin/back/macros/button.html.twig" as button %}
{% block title %}{{ 'admin.housingStock.projectProperty.detail'|trans({}, 'admin') }} {{ projectProperty.reference }} - ({{ projectProperty.project.name }}){% endblock %}

{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ projectProperty.reference }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {% if projectProperty.available == 1 %}
                        {% set availability = 'admin.housingStock.projectProperty.available'|trans({}, 'admin') %}
                    {% else %}
                        {% set availability = 'admin.housingStock.projectProperty.notAvailable'|trans({}, 'admin') %}
                    {% endif %}

                    {% if projectProperty.attachedFile.path is defined %}
                        {% if projectProperty.attachedFile.path is empty %}
                            {% set attachedFile = 'admin.housingStock.projectProperty.noAttachedFile'|trans({}, 'admin') %}
                        {% else %}
                            {% set attachedFile = projectProperty.attachedFile.path %}
                        {% endif %}
                    {% else %}
                        {% set attachedFile = 'admin.housingStock.projectProperty.noAttachedFile'|trans({}, 'admin') %}
                    {% endif %}

                    {{ info.input('admin.housingStock.projectProperty.reference', projectProperty.reference) }}
                    {{ info.input('admin.housingStock.projectProperty.propertyType', projectProperty.propertyType.type) }}
                    {{ info.input('admin.housingStock.projectProperty.unitType', projectProperty.unitType.type) }}
                    {{ info.input('admin.housingStock.projectProperty.sqftArea', projectProperty.sqftArea) }}
                    {{ info.input('admin.housingStock.projectProperty.price', projectProperty.price) }}
                    {{ info.input('admin.housingStock.projectProperty.availability', availability) }}
                    {{ info.input('admin.housingStock.projectProperty.attachedFile', attachedFile) }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">
            {{ button.create('info', 'arrow-circle-o-left', path('housingStock_projectProperty_list', {'project': projectProperty.project.id }), 'admin.action.back') }}
            <div class="col-xs-12 col-sm-4"></div>
            {{ button.create('warning', 'pencil', path('housingStock_projectProperty_update', {'id': projectProperty.id }), 'admin.action.update') }}
        </div>
    </div>
{% endblock %}